<?xml version='1.0' encoding='utf-8'?>
<robot name="RH56F1_R_kinematic">
  <link name="right_hand_base" />
  <link name="right_plam_1" />
  <link name="right_plam_2" />
  <link name="right_plam_3" />
  <link name="right_plam_force_sensor" />
  <link name="right_thumb_1" />
  <link name="right_thumb_2" />
  <link name="right_thumb_3" />
  <link name="right_thumb_4" />
  <link name="right_thumb_force_sensor" />
  <link name="right_thumb_tip" />
  <link name="right_index_1" />
  <link name="right_index_2" />
  <link name="right_index_force_sensor" />
  <link name="right_index_tip" />
  <link name="right_middle_1" />
  <link name="right_middle_2" />
  <link name="right_middle_force_sensor" />
  <link name="right_middle_tip" />
  <link name="right_ring_1" />
  <link name="right_ring_2" />
  <link name="right_ring_force_sensor" />
  <link name="right_ring_tip" />
  <link name="right_little_1" />
  <link name="right_little_2" />
  <link name="right_little_force_sensor" />
  <link name="right_little_tip" />
  <joint name="right_plam_1_joint" type="fixed">
    <origin xyz="0 0 0.0305" rpy="0 0 0" />
    <parent link="right_hand_base" />
    <child link="right_plam_1" />
    <axis xyz="0 0 0" />
  </joint>
  <joint name="right_plam_2_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="right_plam_1" />
    <child link="right_plam_2" />
    <axis xyz="0 0 0" />
  </joint>
  <joint name="right_plam_3_jont" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="right_plam_2" />
    <child link="right_plam_3" />
    <axis xyz="0 0 0" />
  </joint>
  <joint name="right_plam_force_sensor_joint" type="fixed">
    <origin xyz="0.0159401947506102 -0.00135045394126701 0.0737460952299602" rpy="1.5707963267949 0 1.5707963267949" />
    <parent link="right_plam_2" />
    <child link="right_plam_force_sensor" />
    <axis xyz="0 0 0" />
  </joint>
  <joint name="right_thumb_1_joint" type="revolute">
    <origin xyz="0.01836 0.027241 0.070511" rpy="0 0 0" />
    <parent link="right_hand_base" />
    <child link="right_thumb_1" />
    <axis xyz="8.7274E-05 0 -1" />
    <limit lower="0" upper="2.0943951023931953" effort="1" velocity="2" />
  </joint>
  <joint name="right_thumb_2_joint" type="revolute">
    <origin xyz="0.0047995 0.013396 -0.0052536" rpy="1.5707 0 -1.5708" />
    <parent link="right_thumb_1" />
    <child link="right_thumb_2" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="0.4745550236172582" effort="1" velocity="2" />
  </joint>
  <joint name="right_thumb_3_joint" type="revolute">
    <origin xyz="-0.029155 0.03869 -0.0032" rpy="0 0 0" />
    <parent link="right_thumb_2" />
    <child link="right_thumb_3" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="3.14" effort="1" velocity="2" />
    <mimic joint="right_thumb_2_joint" multiplier="1.2953" offset="0" />
  </joint>
  <joint name="right_thumb_4_joint" type="revolute">
    <origin xyz="-0.01441 0.014648 0.0013" rpy="0 0 0" />
    <parent link="right_thumb_3" />
    <child link="right_thumb_4" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="3.14" effort="1" velocity="2" />
    <mimic joint="right_thumb_3_joint" multiplier="0.8962" offset="0" />
  </joint>
  <joint name="right_thumb_force_sensor_joint" type="fixed">
    <origin xyz="-0.0082761 0.019128 0.0068" rpy="-1.6222 -0.051489 -0.78543" />
    <parent link="right_thumb_4" />
    <child link="right_thumb_force_sensor" />
    <axis xyz="0 0 0" />
  </joint>
  <joint name="right_thumb_tip_joint" type="fixed">
    <origin xyz="-0.017405 0.025196 0.0068001" rpy="-1.2971 1.5647 0.01425" />
    <parent link="right_thumb_4" />
    <child link="right_thumb_tip" />
    <axis xyz="0 0 0" />
  </joint>
  <joint name="right_index_1_joint" type="revolute">
    <origin xyz="0.00070751 0.034376 0.13554" rpy="1.5097 0 0" />
    <parent link="right_hand_base" />
    <child link="right_index_1" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="1.5285593588966337" effort="1" velocity="2" />
  </joint>
  <joint name="right_index_2_joint" type="revolute">
    <origin xyz="0.0031056 0.032854 0.001" rpy="0 0 0" />
    <parent link="right_index_1" />
    <child link="right_index_2" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="3.14" effort="1" velocity="2" />
    <mimic joint="right_index_1_joint" multiplier="1.1545" offset="0" />
  </joint>
  <joint name="right_index_force_sensor_joint" type="fixed">
    <origin xyz="0.005139 0.028671 0.0059996" rpy="2.2782 1.4918 2.0953" />
    <parent link="right_index_2" />
    <child link="right_index_force_sensor" />
    <axis xyz="0 0 0" />
  </joint>
  <joint name="right_index_tip_joint" type="fixed">
    <origin xyz="0.0049188 0.039631 0.006" rpy="1.5446 1.5064 1.892" />
    <parent link="right_index_2" />
    <child link="right_index_tip" />
    <axis xyz="0 0 0" />
  </joint>
  <joint name="right_middle_1_joint" type="revolute">
    <origin xyz="0.00070746 0.015767 0.13648" rpy="1.5708 0 0" />
    <parent link="right_hand_base" />
    <child link="right_middle_1" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="1.5285593588966337" effort="1" velocity="2" />
  </joint>
  <joint name="right_middle_2_joint" type="revolute">
    <origin xyz="0.0031056 0.032854 0.001" rpy="0 0 0" />
    <parent link="right_middle_1" />
    <child link="right_middle_2" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="3.14" effort="1" velocity="2" />
    <mimic joint="right_middle_1_joint" multiplier="1.1545" offset="0" />
  </joint>
  <joint name="right_middle_force_sensor_joint" type="fixed">
    <origin xyz="0.0059655 0.031551 0.0060998" rpy="-2.9405 1.5184 3.1416" />
    <parent link="right_middle_2" />
    <child link="right_middle_force_sensor" />
    <axis xyz="0 0 0" />
  </joint>
  <joint name="right_middle_tip_joint" type="fixed">
    <origin xyz="0.0059647 0.042512 0.0060998" rpy="-0.3273 1.5691 0" />
    <parent link="right_middle_2" />
    <child link="right_middle_tip" />
    <axis xyz="0 0 0" />
  </joint>
  <joint name="right_ring_1_joint" type="revolute">
    <origin xyz="0.00070746 -0.0030876 0.13643" rpy="1.6232 0 0" />
    <parent link="right_hand_base" />
    <child link="right_ring_1" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="1.5285593588966337" effort="1" velocity="2" />
  </joint>
  <joint name="right_ring_2_joint" type="revolute">
    <origin xyz="0.0031056 0.032854 0.001" rpy="0 0 0" />
    <parent link="right_ring_1" />
    <child link="right_ring_2" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="3.14" effort="1" velocity="2" />
    <mimic joint="right_ring_1_joint" multiplier="1.1545" offset="0" />
  </joint>
  <joint name="right_ring_force_sensor_joint" type="fixed">
    <origin xyz="0.005139 0.028671 0.0059996" rpy="-2.2589 1.4899 -2.4386" />
    <parent link="right_ring_2" />
    <child link="right_ring_force_sensor" />
    <axis xyz="0 0 0" />
  </joint>
  <joint name="right_ring_tip_joint" type="fixed">
    <origin xyz="0.0049188 0.039631 0.006" rpy="-1.5409 1.5145 -1.1936" />
    <parent link="right_ring_2" />
    <child link="right_ring_tip" />
    <axis xyz="0 0 0" />
  </joint>
  <joint name="right_little_1_joint" type="revolute">
    <origin xyz="0.00070753 -0.021451 0.13527" rpy="1.6755 0 0" />
    <parent link="right_hand_base" />
    <child link="right_little_1" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="1.5285593588966337" effort="1" velocity="2" />
  </joint>
  <joint name="right_little_2_joint" type="revolute">
    <origin xyz="0.0031057 0.032854 0.001" rpy="0 0 0" />
    <parent link="right_little_1" />
    <child link="right_little_2" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="3.14" effort="1" velocity="2" />
    <mimic joint="right_little_1_joint" multiplier="1.1545" offset="0" />
  </joint>
  <joint name="right_little_force_sensor_joint" type="fixed">
    <origin xyz="0.0051314 0.021582 0.0059959" rpy="-1.9859 1.443 -2.1833" />
    <parent link="right_little_2" />
    <child link="right_little_force_sensor" />
    <axis xyz="0 0 0" />
  </joint>
  <joint name="right_little_tip_joint" type="fixed">
    <origin xyz="0.0051203 0.032544 0.0059927" rpy="-1.5577 1.4597 -1.2296" />
    <parent link="right_little_2" />
    <child link="right_little_tip" />
    <axis xyz="0 0 0" />
  </joint>
</robot>